.add-book {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-style: italic;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 120px minmax(10%, 20%); 
    grid-gap: 20px
}

button{
  background-color: darkred; 
  border: outset darkred;
  border-radius: 10%;
  color: whitesmoke;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 80%;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.but{
  padding: 15% 10%;
}

button:hover{
    background-color: brown;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
